.footer {
    max-width: 880px;
    width: 69%;
    padding: 67px 0 60px 0;
    margin: 0 auto;
}

@media screen and (max-width: 425px) {
    .footer {
        width: 282px;
        padding: 48px 0 36px 0;
    }
}