.header {
    max-width: 880px;
    width: 69%;
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 41px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 425px){
    .header {
        width: 100%;
        padding-top: 28px;
        padding-bottom: 32px;
    }
}